* {
  box-sizing: border-box;
}

body {
  background-color: #7BD4D0;
}

.square {
  width: 9vw;
  height: 9vw;
  border: solid black 1px;
  border-radius: 5px;
  margin: 2px;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: 0 auto;
}

.mole {
  background-image: url("/images/mole.png");
  background-size: cover;
  cursor: pointer;
  background-color: #A37BD4;
}

h1,
h2,
h3 {
  text-align: center;
}

.grid-size {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 50vw;
}

.btn {
  margin: 0 3vw;
  padding: 0.8vw 2vw;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
