.square {
  width: 200px;
  height: 200px;
  border: solid black 1px;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 618px;
}

.mole {
  background-image: url("/images/mole.png");
  background-size: cover;
}
